.venv/
venv/
env/
__pycache__/
*.pyc
*.pyo

.env

data/
starter/data
workspace/
*.tar.gz
*.parquet
*.feather

*.model
*.pkl
*.joblib
*.txt.bak

runs/*/best/
runs/*/checkpoints/

.DS_Store
Thumbs.db
.idea/
.vscode/
.ipynb_checkpoints/